@use '../../styles/colors';

.PasswordInput {
    height: 45px;
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: colors.$blue;
}

.PasswordInput-Label {
    font-family: Catamaran;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
}

.PasswordInput-eye {
    position: absolute;
    top: 13px;
    right: 18px;
    display: block;
    height: 18px;
    cursor: pointer;
}

.PasswordInput-eye-container {
    position: relative
}

.pink-asterisk {
    color: colors.$pink;
}
