.PasswordInput {
    height: 45px;
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #19284A;
}

.pw-eye[aria-hidden=true] {
    display: none;
}