@use '../../styles/colors';



.SignUpForm-flex-container {
    display: flex;
}

.SignUpForm-flex-container-child:nth-child(odd){
    margin-right: 20px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
